!!!
%html
  %head
    %title Cabs
    %script{src: "http://www.parsecdn.com/js/parse-1.2.19.min.js", type: "text/javascript"}
    :javascript
      Routes = #{read_routes_list.to_json};
        Parse.initialize("lorucXW5uj0ukpI0Ju7ITWxiNty14PQOJD6ZEYzp", "N6b4cNrVq1zNnpnhJFqXaDUzThXymCPvBRwKCAq4");
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,300", rel: "stylesheet", type: "text/css"}/
    = render "shared/meta"
  %body
    = yield
    = render "shared/facebook_init"
